<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Commits Graphique</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ data_for_chart | safe }});

        var options = {
          chart: {
            title: 'Nombre de Commits par Minute',
          },
          hAxis: {
            title: 'Minute',
          },
          vAxis: {
            title: 'Nombre de Commits',
          }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 800px; height: 600px;"></div>
  </body>
</html>

