<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Commits Histogram</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ data_for_chart | tojson | safe }});

        var options = {
          title: 'Nombre de Commits par Minute',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>

